body {
    background-color: #f2f6ff;
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Login box */
.login-container {
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px gray;
}

h2 {
    text-align: center;
}

/* Labels */
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

/* Inputs */
input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Focus effect */
input:focus {
    border: 2px solid #4a90e2;
    outline: none;
}

/* Button */
button {
    width: 100%;
    padding: 10px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Hover effect */
button:hover {
    background-color: #357abd;
}