body {
    background-color: #0e56e5;
    font-family: Arial, Helvetica, sans-serif;
}



.card {
    width: 300px;
    background-color: white;
    padding: 20px;

    border-radius: 15px;     
    
    box-shadow: 0 4px 10px rgba(244, 11, 11, 0.2); 
    

    margin: 100px auto;
    text-align: center;
}



.card h2 {
    color: #333;
}

.info {
    font-size: 16px;
    color: #555;
    margin: 8px 0;
}
