body{
    font-family: Arial, Helvetica, sans-serif;
}
.flex-container {
    display:flex;
    justify-content: space-between;
    align-items: center;

    padding: 40px;
    background-color: cornsilk;

}
.flex-box{
    width: 120px;
    height: 120px;background-color: aquamarine;
    color: rgb(255, 255, 255);

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bolder;
}

