body {
    background-color: #f2f4f8;
    font-family: Arial, sans-serif;
}


.login-container {
    width: 300px;
    background-color: white;

    padding: 25px;
    margin: 100px auto;

    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}


input {
    width: 100%;
    padding: 10px;
    margin: 8px 0 15px;

    border: 1px solid #ccc;
    border-radius: 5px;
}


input:focus {
    outline: none;
    border-color: #3f51b5;
}

button {
    width: 100%;
    padding: 10px;

    background-color: #3f51b5;
    color: white;
    border: none;
    border-radius: 5px;

    cursor: pointer;
}


button:hover {
    background-color: #303f9f;
}
